services:
  - type: web
    name: proyecto-final-backend
    env: node
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: PORT
        value: "4000"
      - key: NODE_ENV
        value: production
